*{
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
}

.container{
    width: 100%;
    background-color: #005999;
}

.header{
    height: 152px;
    width: 100%;
    text-align: center;
    top: 0;
}

.logo img{
    filter: brightness(0) invert(1);
    text-align: center;
    float: left;
    margin-top: 53px;
    margin-left: 38px;
    width: 146px;
    height: 42px;
}

.text_box{
    margin-top: 70px;
    width: 100%;
}

@font-face {
    font-family: 'DinCondMedium';
    src: url('https://xn----7sb7akeedqd.xn--p1ai/platform/catalogfile/cons_libraryFiles/DinCondMedium/DinCondMedium.ttf') format('truetype');
}

.title{
    font-family: 'DinCondMedium';
    font-weight: bold;
    color: black;
    font-size: 2rem;
    line-height: 1.2em;
    margin-left: 15px;
    display: inline;
}


#map{
    width: 800px;
    height: 450px;
    margin-top: 20px;
    clear: left;
    display: flex;
    margin-left: 15px;
    border: solid #005999;
}

.box_legend{
    width: 194px;
    height: 115px; 
    margin-left: 17.5px;
    margin-top: 614px;
    position: fixed;
    background-color: white;
    border: solid rgb(224, 224, 224);
    border-width: 0.08em;
}

.legend{
    margin-left: 2px; 
    font-family: 'DinCondMedium';
    font-weight: bold;
    color: black;
    font-size: 1.2rem;
    line-height: 1.5em;
    width: 100%;
}

.first, .second{
    font-family: 'DinCondMedium';
    color: black;
    font-size: 0.87rem;
    line-height: 0.9em;
}

.third, .fourth{
    font-family: 'DinCondMedium';
    color: black;
    font-size: 0.87rem;
    line-height: 0.9em;
}


.box_legend div{
    display:inline;
    position: absolute;
    margin-left: 3px;
}

.box_legend img{
    margin-left: 2px; 
    width: 17px;
    height: 17px;
}