*{
    box-sizing: border-box;
}

@font-face {
    font-family: 'DinCondMedium';
    src: url('C:/Users/eliseev-ae/Desktop/Projects/electrocars/frontend/fonts/DinCondMedium.ttf') format('truetype');
}

@font-face {
    font-family: 'Yandex Sans';
    src: url('C:/Users/eliseev-ae/Desktop/Projects/electrocars/frontend/fonts/YandexSansText_Regular.ttf') format('truetype');
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
}

.container{
    width: 100%;
    background-color: #005999;
}

.header{
    height: 152px;
    width: 100%;
    text-align: center;
    top: 0;
}

.logo img{
    filter: brightness(0) invert(1);
    text-align: center;
    float: left;
    margin-top: 53px;
    margin-left: 38px;
    width: 146px;
    height: 42px;
}

.text_box{
    margin-top: 64px;
    width: 100%;
    margin-left: 15px;
    white-space: nowrap;
}

.title{
    font-family: 'DinCondMedium';
    color: rgb(28,29,31);
    font-size: 2.4rem;
    line-height: 1.2em;
    display: inline;
}


#map{
    width: 800px;
    height: 470px;
    margin-top: 13px;
    display: flex;
    margin-left: 15px;
    border: solid #005999;
    position:relative;
}

.box_legend{
    width: 212.1px;
    height: 86px; 
    margin-left: 28px;
    margin-top: 450.5px;
    position: fixed;
    background-color: white;
    border: solid rgb(213,213,206);
    border-width: 0.08em;
}

.box_legend span{
    font-family: 'Yandex Sans';
    color: rgb(117,117,117);
    font-size: 0.7rem;
    line-height: 0.9em;
}

.box_legend div{
    margin-top: 1px;
    display:inline;
    position: absolute;
    margin-left: 3px;
}

.box_legend img{
    margin-top: 3px;
    margin-left: 23.5px; 
    width: 15px;
    height: 15px;
}

 .start_date{
        height: 28px;
        width: 105px;
        float:left;
        position:absolute;
        margin-top: 294px;
        margin-left: 43px;
        border: solid rgb(204,204,204);
        border-width: 0.09em;
        outline-color: rgb(255,219,77);
        outline-width: 1.2em;
 }

 #ok{
    font-family: 'Yandex Sans';
    color: rgb(102,102,102);
    font-size: 0.7rem;
    font-weight: 800;
    line-height: 0.9em;
    background-color: white;
    border: solid rgb(255,219,77);
    border-width: 0.19em;
    background-color: rgb(255,219,77);;
    outline-color: rgb(255,219,77);
    width:33.5px;
    height:39.5px;
    position: absolute;
    text-align: center;
    cursor:pointer;
    margin-top: 288.25px;
    margin-left: 325.2px;
 }

 .period_start{
    height: 28px;
    width: 72px;
    float:left;
    position:absolute;
    margin-top: 294px;
    margin-left: 150px;
    border: solid rgb(204,204,204);
    border-width: 0.09em;
    outline-color: rgb(255,219,77);
    outline-width: 1.2em;
 }

 .period_end{
    height: 28px;
    width: 72px;
    float:left;
    position:absolute;
    margin-top: 294px;
    margin-left: 240px;
    border: solid rgb(204,204,204);
    border-width: 0.09em;
    outline-color: rgb(255,219,77);
    outline-width: 1.2em;
 }

.tire{
    float:left;
    position:absolute;
    margin-top: 293px;
    margin-left: 227.5px;
    font-family: 'Yandex Sans';
    color: rgb(102,102,102);
    font-size: 1.1rem;
    font-weight: 1200;
    line-height: 0.9em;
}



 