@font-face {
	font-family: 'DinCondMedium';
	src: url("..//fonts//DinCondMedium.ttf") format('truetype');
	font-display: swap;
}
@font-face {
	font-family: 'Yandex Sans';
	src: url("..//fonts//YandexSansText_Regular.ttf") format('truetype');
	font-display: swap;
}
@font-face {
	font-family: 'DinCondLight';
	src: url("..//fonts//DinCondLight.ttf") format('truetype');
	font-display: swap;
}
* {
	box-sizing: border-box;
}
html {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.tabs {
	position: absolute;
	margin-top: 165px;
	margin-left: 44px;
	display: inline-block;
	white-space: nowrap;
	height: 46px;
	border-bottom: 1.5px solid rgb(224, 224, 224);
	button+button {
		margin-left: 46px;
	}
	.tabs-link {
		background-color: white;
		cursor: pointer;
		font-size: 1.2rem;
		white-space: wrap;
		display: inline-block;
		vertical-align: top;
		float: none;
		height: 45px;
		font-family: 'DinCondLight';
		padding-bottom: 25px;
		border: none;
		outline: none;
	&::after {
		content: '';
			display: block;
			margin-top: 19px;
			width: 0;
			height: 3px;
			background: rgb(0, 89, 153);
			transition: width .2s;
	}
	&:hover {
		&::after {
			width: 100%;
		}
	}
	}
	#defaultOpen {
		border-bottom: 3.5px solid #005999;
	}
}

.headcontainer {
	background-color: #005999;
	.header {
		height: 152px;
		text-align: center;
		top: 0;
		.header-logo {
			img {
				text-align: center;
				float: left;
				margin-top: 54px;
				margin-left: 54px;
				width: 146px;
				height: 42px;
			}
		}
}
}

.textbox {
	margin-top: 64.25px;
	white-space: nowrap;
	margin-left: 42px;
	.textbox-title {
		font-family: 'DinCondMedium';
		color: rgb(28,29,31);
		font-size: 2.4rem;
		line-height: 1.1em;
		display: flex;
	}
}

#parameters {
	display: flex;
	flex-wrap: wrap;
	position: absolute;
}

.charger{
	width: 700px;
	height: 450px;
	margin-top: 17.5px;
	margin-left: 44px;
	border: 5px solid #005999;
	border-radius: 3%;
	position: absolute;
	.charger-title {
		margin-top: 5px;
		font-size: 1.8rem;
		line-height: 2rem;
		font-family: 'DinCondMedium';
		border-bottom: 5px solid #005999;
		text-align: center;
		height: 40px;
		display: block;
	}
}
.charger__type-title {
	padding-top: 5px;
	font-size: 1.6rem;
	line-height: 1.1rem;
	font-family: 'DinCondMedium';
	text-align: left;
	padding-left: 13px;
	height: 50px;
	display: block;
}
.charger__type__chooser {
	border-bottom: 1.5px solid black;
	height: 130px;
}
#charger__type__chooser {
    margin-top: -15px;
	margin-left: 13px;
	border: 1px solid black;
	width: 235px;
	overflow: hidden;
	height: 121px;
	overflow-y: scroll;
	input {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		&:checked {
			+ {
				label {
					opacity: 1 !important;
					display: block;
				}
			}
		}
	}
	label {
		display: block;	
	}
}
.charger__type__chooser-radio1 {
	display: none;
	margin: 1.5px;
	text-align: center;
	height: 57.5px;
	opacity: 0.5;
	background: url("..//images//t2.png") 50% 50%;
	cursor: pointer;
}
.charger__type__chooser-radio2 {
	display: none;
	margin: 1.5px;
	text-align: center;
	height: 57.5px;
	opacity: 0.5;
	background: url("..//images//chademo.png");
	cursor: pointer;
}
.charger__type__chooser-radio3 {
	display: none;
	margin: 1.5px;
	text-align: center;
	height: 57.5px;
	opacity: 0.5;
	background: url("..//images//ccscombo2.png");
	cursor: pointer;
}
.charger__type__chooser-radio4{
	display: none;
	margin: 1.5px;
	text-align: center;
	height: 57.5px;
	opacity: 0.5;
	background: url("..//images//saej1772.png");
	cursor: pointer;
}

.charger__type__chooser-radio5 {
	display: none;
	margin: 1.5px;
	text-align: center;
	height: 57.5px;
	opacity: 0.5;
	background: url("..//images//ccscombo1.png");
	cursor: pointer;
}

.charger__type__chooser-radio6 {
	display: none;
	margin: 1.5px;
	text-align: center;
	height: 57.5px;
	opacity: 0.5;
	background: url("..//images//tesla.png");
	cursor: pointer;
}

.charger__type__chooser-radio7 {
	display: none;
	margin: 1.5px;
	text-align: center;
	height: 57.5px;
	opacity: 0.5;
	background: url("..//images//gbtac.png");
	cursor: pointer;
}

.charger__type__chooser-radio8 {
	display: none;
	margin: 1.5px;
	text-align: center;
	height: 57.5px;
	opacity: 0.5;
	background: url("..//images//gbtdc.png");
	cursor: pointer;
}

.charger__torrent-title {
	margin-top: 1px;
	padding-top: 4px;
	font-size: 1.6rem;
	line-height: 1.1rem;
	font-family: 'DinCondMedium';
	text-align: left;
	padding-left: 13px;
	height: 40px;
	display: block;
}
.charger__torrent {
	margin-top: -10px;
	border-bottom: 1.5px solid black;
    height: 32px;
    div{
        display: inline-block;
        margin-top: 5px;
    }
    div+div{
        margin-left: 70px;
    }
	label {
        font-size: 1.4rem;;
        line-height: 1.1rem;
		font-family: 'DinCondLight';
		vertical-align: middle;
	}
}
#charger__torrent {
	padding-left: 10px;
	height: 47px;
}
.charger__kvt {
	border-bottom: 1.5px solid #000000;
	height: 59px;
	margin-top: -16px;
}
.charger__kvt-title,  
.charger__price-title{
	margin-top: 1px;
	padding-top: 4px;
	font-size: 1.6rem;
	line-height: 1.1rem;
	font-family: 'DinCondMedium';
	text-align: left;
	padding-left: 13px;
	height: 40px;
	display: block;
}

.charger__kvt__container {
	display: flex;
	flex-direction: column;
	width: 96%;
	margin-left: 12px;
}

.charger__kvt__control-form {
	position: relative;
	display: flex;
	justify-content: space-between;
	font-size: 22px;
	color: black;
}

.charger__kvt__control-sliders {
	position: relative;
	min-height: 12.5px;
	margin-top: 3px;
}

input[type=range] {
	&::-webkit-slider-thumb {
		pointer-events: all;
		width: 24px;
		height: 24px;
		background-color: rgb(255, 255, 255);
		border-radius: 50%;
		box-shadow: 0 0 0 1px black;
		cursor: pointer;
		&:hover {
			box-shadow: inset 0 0 3px #005999, 0 0 6px #005999;
			-webkit-box-shadow: inset 0 0 6px #005999, 0 0 6px #005999;
		}
		&:active {
			box-shadow: inset 0 0 3px #005999, 0 0 6px #005999;
			-webkit-box-shadow: inset 0 0 3px #005999, 0 0 6px #005999;
		}
	}
	&::-moz-range-thumb {
		pointer-events: all;
		width: 24px;
		height: 24px;
		background-color: rgb(255, 255, 255);
		border-radius: 50%;
		box-shadow: 0 0 0 1px rgb(0, 0, 0);
		cursor: pointer;
	}
}
input[type="number"] {
	color: black;
	width: 40px;
	height: 35px;
	font-size: 1.0rem;
	line-height: 1.0rem;
	font-family: 'DinCondLight';
	border: none;
}
input[type=number] {
	&::-webkit-inner-spin-button {
		opacity: 1;
	}
	&::-webkit-outer-spin-button {
		opacity: 1;
	}
}
input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	height: 3px;
	width: 100%;
	position: absolute;
	background-color: #005999;
	pointer-events: none;
}
#fromSlider_kvt {
	height: 0;
	z-index: 1;
}

.charger__price {
	height: 59px;
	margin-top: -16px;
}
.charger__price__container {
	display: flex;
	flex-direction: column;
    width: 96%;
	margin-left: 12px;
}

.charger__price__container__control{
	position: relative;
	display: flex;
	justify-content: space-between;
	font-size: 22px;
	color: black;
}

.charger__price__control-sliders {
	position: relative;
	min-height: 12.5px;
    margin-top: 3px;
}

#fromSlider_price {
	height: 0;
	z-index: 1;
}

.nuipogoda-iframe-informer{
	width:50px;
	height:251px;
	display:block;
}
/* */ /* */ /* */ /* */ 
#routing {
	display: flex;
	flex-wrap: wrap;
}

#map {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	width: 1452px;
	height: 450px;
	margin-top: 17.5px;
	display: flex;
	margin-left: 42px;
	border: solid #005999;
	position: absolute;
}

.routing__legendbox {
	width: 213.5px;
	height: 86px;
	margin-top: 193px;
	margin-left: 54.5px;
	position: absolute;
	background-color: white;
	border: solid rgb(213,213,206);
	border-width: 0.08em;
	span {
		font-family: 'Yandex Sans';
		color: rgb(117,117,117);
		font-size: 0.7rem;
		line-height: 0.9em;
	}
	div {
		margin-top: 1px;
		display: inline;
		position: absolute;
		margin-left: 3px;
	}
	img {
		margin-top: 3px;
		margin-left: 25px;
		width: 15px;
		height: 15px;
	}
}
.routing__control {
	position: absolute;
	display: flex;
	margin-left: 69.25px;
	margin-top: 36.25px;
	justify-content: space-between;
	input+input {
		margin-left: 20px;
	}
}
.routing__control-start {
	height: 28px;
	float: left;
	width: 140px;
	border: solid rgb(204,204,204);
	border-width: 0.09em;
	outline-color: rgb(255,219,77);
	outline-width: 1.2em;
	font-family: 'Yandex Sans';
}
.routing__control-end {
	height: 28px;
	width: 140px;
	float: left;
	border: solid rgb(204,204,204);
	border-width: 0.09em;
	outline-color: rgb(255,219,77);
	outline-width: 1.2em;
	font-family: 'Yandex Sans';
}

.routing__control-tire {
	font-family: 'Yandex Sans';
	color: rgb(102,102,102);
	font-size: 1.1rem;
	font-weight: 1200;
	line-height: 0.9em;
	position: absolute;
	margin-left: 146.5px;
}

#ok {
	font-family: 'Yandex Sans';
	color: rgb(102,102,102);
	font-size: 0.7rem;
	font-weight: 800;
	line-height: 0.9em;
	background-color: white;
	border: solid rgb(255,219,77);
	border-width: 0.19em;
	background-color: rgb(255,219,77);
	outline-color: rgb(255,219,77);
	width: 33.5px;
	height: 40px;
	text-align: center;
	cursor: pointer;
	float: left;
	margin-left: 4px;
	margin-top: -6px;
}

@media (max-width: 1024px) {
	.headcontainer {
		background-color: #005999;
		.header {
			height: 60.8px;
			text-align: center;
			top: 0;
			.header-logo {
				img {
					text-align: center;
					float: left;
					margin-top: 9.5px;
					margin-left: 18.8px;
					width: 132.09px;
					height: 38px;
				}
			}
		}
	}

	.tabs {
        position: absolute;
        margin-top: 61px;
        margin-left: 12px;
        display: inline-block;
        white-space: nowrap;
        height: 30.5px;
        border-bottom: 0.1px solid rgb(224, 224, 224);
		button+button {
			margin-left: 46px;
		}
		.tabs-link {
			background-color: white;
			cursor: pointer;
			font-size: 1.3rem;
			white-space: wrap;
			display: inline-block;
			vertical-align: top;
			float: none;
			height: 3px;
			font-family: 'DinCondLight';
			padding-bottom: 25px;
			border: none;
			outline: none;
		&::after {
			content: '';
            display: block;
            margin-top: 0px;
            width: 0;
            height: 3.5px;
            background: rgb(0, 89, 153);
            transition: width .2s;
		}
		&:hover {
			&::after {
				width: 100%;
			}
		}
		}
		#defaultOpen {
			border-bottom: 3.5px solid #005999;
		}
	}

    .textbox {
        margin-top: 35px;
        white-space: nowrap;
        margin-left: 10px;
		.textbox-title {
			font-family: 'DinCondMedium';
			color: rgb(28,29,31);
			font-size: 2.2rem;
			line-height: 1.0em;
			display: flex;
		}
	}

	.charger {
        width: 490px;
        height: 450px;
        margin-top: 17.5px;
        margin-left: 10px;
        border: 5px solid #005999;
        border-radius: 3%;
        position: absolute;
    }

	#map {
		padding: 0;
		margin: 0;
		width: 746px;
		height: 560px;
		margin-top: 17.5px;
		margin-left: 10px;
		border: solid #005999;
		display: inline-block;
	}

	.routing__legendbox {
		width: 213.5px;
		height: 86px;
		margin-top: 193px;
		margin-left: 22px;
		position: absolute;
		background-color: white;
		border: solid rgb(213,213,206);
		border-width: 0.08em;
		span {
			font-family: 'Yandex Sans';
			color: rgb(117,117,117);
			font-size: 0.7rem;
			line-height: 0.9em;
		}
		div {
			margin-top: 1px;
			display: inline;
			position: absolute;
			margin-left: 3px;
		}
		img {
			margin-top: 3px;
			margin-left: 25px;
			width: 15px;
			height: 15px;
		}
	}
	
	.routing__control {
		position: absolute;
		display: flex;
		margin-left: 37.25px;
		margin-top: 36.25px;
		justify-content: space-between;
		input+input {
			margin-left: 20px;
		}
	}
}