$color: #005999;

%parameter_border {
	border: 5px solid $color;
	border-radius: 3%;
}

%big_title {
	font-size: 1.8rem;
	font-family: 'DinCondMedium', 'sans-serif';
}	
			
%small_title {
	font-size: 1.6rem;
	font-family: 'DinCondMedium', 'sans-serif';
	text-align: left;
}

%explanations {
	font-size: 1.1rem;
	font-family: 'DinCondMedium', 'sans-serif';
	font-weight: 200;
	color: rgb(117,117,117);
	white-space: nowrap;
	margin-left: 5px;
	display: inline-block;
	width: 95%;
}

%acc{
	margin-top: 16px;
	margin-left: 50px;
	float: left;
	width: 641.5px;
	height: 110px;
	@extend %parameter_border;
	border-radius: 5%;
}

%ok{
	font-family: 'Yandex Sans', 'sans-serif';
	color: rgb(102,102,102);
	font-size: 0.7rem;
	font-weight: 800;
	border: solid 0.19em rgb(255,219,77);
	background-color: rgb(255,219,77);
	outline-color: rgb(255,219,77);
	width: 33.5px;
	height: 39px;
	text-align: center;
	cursor: pointer;
	float: left;
	margin-left: 4px;
	margin-top: -5px;
}

@font-face {
	font-family: 'DinCondMedium';
	src: url("../fonts/DinCondMedium.ttf") format('truetype');
	font-display: swap;
}
@font-face {
	font-family: 'Yandex Sans';
	src: url("../fonts/YandexSansText_Regular.ttf") format('truetype');
	font-display: swap;
}
@font-face {
	font-family: 'DinCondLight';
	src: url("../fonts/DinCondLight.ttf") format('truetype');
	font-display: swap;
}

.tabs {
	position: absolute;
	margin-top: 165px;
	margin-left: 44px;
	display: inline-block;
	white-space: nowrap;
	height: 46px;
	border-bottom: 1.5px solid rgb(224, 224, 224);
	button+button {
		margin-left: 46px;
	}
	.tabs-link {
		background-color: white;
		cursor: pointer;
		font-size: 1.2rem;
		display: inline-block;
		vertical-align: top;
		float: none;
		height: 45px;
		font-family: 'DinCondLight', 'sans-serif';
		padding-bottom: 25px;
		border: none;
		outline: none;
	&::after {
		content: '';
			display: block;
			margin-top: 19px;
			width: 0;
			height: 3px;
			background: rgb(0, 89, 153);
			transition: width .2s;
	}
	&:hover {
		&::after {
			width: 100%;
		}
	}
	}
	#defaultOpen {
		border-bottom: 3.5px solid $color;
	}
}

.head_container {
	background-color: $color;
}

.header {
	height: 152px;
	text-align: center;
	top: 0;
	&-logo {
		img {
			text-align: center;
			float: left;
			margin-top: 54px;
			margin-left: 54px;
			width: 146px;
			height: 42px;
		}
	}
}


.textbox {
	margin-top: 64.25px;
	white-space: nowrap;
	margin-left: 42px;
	&-title {
		font-family: 'DinCondMedium', 'sans-serif';
		color: rgb(28,29,31);
		font-size: 2.4rem;
		display: flex;
	}
}

.charger{
	width: 700px;
	height: 450px;
	margin-top: 17.5px;
	margin-left: 44px;
	@extend %parameter_border;
	float: left;
	&-title {
		margin-top: 5px;
		@extend %big_title;
		border-bottom: 5px solid $color;
		text-align: center;
		height: 40px;
		display: block;
	}
}
.charger__type-title {
	padding-top: 5px;
	@extend %small_title;
	padding-left: 13px;
	height: 50px;
	display: block;
}
.charger__type__chooser {
	border-bottom: 1.5px solid black;
	height: 130px;
}
#charger__type__chooser {
    margin-top: -15px;
	margin-left: 13px;
	border: 1px solid black;
	width: 235px;
	overflow: hidden;
	height: 121px;
	overflow-y: scroll;
	input {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		&:checked {
			+ {
				label {
					opacity: 1 !important;
					display: block;
				}
			}
		}
	}
	label {
		display: block;	
	}
}
.charger__type__chooser-radio1 {
	display: none;
	margin: 1.5px;
	text-align: center;
	height: 57.5px;
	opacity: 0.5;
	background: url("../images/type2.png") 50% 50%;
	cursor: pointer;
}
.charger__type__chooser-radio2 {
	display: none;
	margin: 1.5px;
	text-align: center;
	height: 57.5px;
	opacity: 0.5;
	background: url("../images/chademo.png");
	cursor: pointer;
}
.charger__type__chooser-radio3 {
	display: none;
	margin: 1.5px;
	text-align: center;
	height: 57.5px;
	opacity: 0.5;
	background: url("../images/ccscombo2.png");
	cursor: pointer;
}
.charger__type__chooser-radio4{
	display: none;
	margin: 1.5px;
	text-align: center;
	height: 57.5px;
	opacity: 0.5;
	background: url("../images/saej1772.png");
	cursor: pointer;
}

.charger__type__chooser-radio5 {
	display: none;
	margin: 1.5px;
	text-align: center;
	height: 57.5px;
	opacity: 0.5;
	background: url("../images/ccscombo1.png");
	cursor: pointer;
}

.charger__type__chooser-radio6 {
	display: none;
	margin: 1.5px;
	text-align: center;
	height: 57.5px;
	opacity: 0.5;
	background: url("../images/tesla.png");
	cursor: pointer;
}

.charger__type__chooser-radio7 {
	display: none;
	margin: 1.5px;
	text-align: center;
	height: 57.5px;
	opacity: 0.5;
	background: url("../images/gbtac.png");
	cursor: pointer;
}

.charger__type__chooser-radio8 {
	display: none;
	margin: 1.5px;
	text-align: center;
	height: 57.5px;
	opacity: 0.5;
	background: url("../images/gbtdc.png");
	cursor: pointer;
}

.charger__torrent {
	margin-top: -10px;
	border-bottom: 1.5px solid black;
    height: 32px;
    div{
        display: inline-block;
		margin-top: 2px;
    }
    div+div{
        margin-left: 70px;
    }
	label {
        font-size: 1.4rem;;
		font-family: 'DinCondLight', 'sans-serif';
		vertical-align: center;
	}
	&-title{
	margin-top: 1px;
	padding-top: 2px;
	@extend %small_title;
	padding-left: 13px;
	height: 40px;
	display: block;
	}
}
#charger__torrent {
	padding-left: 10px;
	height: 47px;
}
.charger__kvt {
	border-bottom: 1.5px solid #000000;
	height: 59px;
	margin-top: -16px;
	&-title{
		margin-top: 1px;
		@extend %small_title;
		padding-top: 4px;
		padding-left: 13px;
		height: 40px;
		display: block;
	}
}

.charger__kvt__container {
	display: flex;
	flex-direction: column;
	width: 96%;
	margin-left: 12px;
}

.charger__kvt__control-form {
	position: relative;
	display: flex;
	justify-content: space-between;
	font-size: 22px;
	color: black;
}

.charger__kvt__control-sliders {
	position: relative;
	min-height: 12.5px;
	margin-top: 3px;
}

input[type=range] {
	&::-webkit-slider-thumb {
		pointer-events: all;
		width: 24px;
		height: 24px;
		background-color: rgb(255, 255, 255);
		border-radius: 50%;
		box-shadow: 0 0 0 1px black;
		cursor: pointer;
		&:hover {
			box-shadow: inset 0 0 3px $color, 0 0 6px $color;
			-webkit-box-shadow: inset 0 0 6px $color, 0 0 6px $color;
		}
		&:active {
			box-shadow: inset 0 0 3px $color, 0 0 6px $color;
			-webkit-box-shadow: inset 0 0 3px $color, 0 0 6px $color;
		}
	}
	&::-moz-range-thumb {
		pointer-events: all;
		width: 24px;
		height: 24px;
		background-color: rgb(255, 255, 255);
		border-radius: 50%;
		box-shadow: 0 0 0 1px rgb(0, 0, 0);
		cursor: pointer;
	}
}
input[type="number"] {
	color: black;
	width: 40px;
	height: 35px;
	font-size: 1.0rem;
	font-family: 'DinCondLight', 'sans-serif';
	border: none;
}
input[type=number] {
	&::-webkit-inner-spin-button {
		opacity: 1;
	}
	&::-webkit-outer-spin-button {
		opacity: 1;
	}
}
input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	height: 3px;
	width: 100%;
	position: absolute;
	background-color: $color;
	pointer-events: none;
}
#fromSlider_kvt {
	height: 0;
	z-index: 1;
}

.charger__price {
	height: 59px;
	margin-top: -16px;
	&__container {
	display: flex;
	flex-direction: column;
    width: 96%;
	margin-left: 12px;
	}
	&-title{
		margin-top: 1px;
		@extend %small_title;
		padding-top: 4px;
		padding-left: 13px;
		height: 40px;
		display: block;
	}
}

.charger__price__container__control{
	position: relative;
	display: flex;
	justify-content: space-between;
	font-size: 22px;
	color: black;
}

.charger__price__control-sliders {
	position: relative;
	min-height: 12.5px;
    margin-top: 3px;
}

#fromSlider_price {
	height: 0;
	z-index: 1;
}

.accumulator{
	@extend %acc;
	&-title {
		margin-top: 6.5px;
		@extend %big_title;
		border-bottom: 5px solid $color;
		text-align: center;
		height: 40px;
		display: block;
		}
	}

.accumulator__temp{
	flex-direction: row; 
	justify-content: flex-start; 
	flex-wrap: wrap;
	&-title {
		margin-top: -6px;
		@extend %small_title;
		padding-top: 18px;
		padding-left: 49.5px;
		height: 40px;
		float: left;
		font-size: 1.5rem;
	}

	&-number{
		float: left;
		margin-top: 11px;
		margin-left: 3px;
	}
	input[type=number] {
		font-size: 1.2rem;
		font-family: 'DinCondMedium', 'sans-serif';
		font-weight: 600;
		background-color: rgb(241,241,241);
		border: 1px solid rgb(0, 0, 0);
	}
	&-grad{
		font-size: 1.2rem;
		font-family: 'DinCondMedium', 'sans-serif';
		text-align: left;
		float: left;
		margin-top: 17px;
		font-weight: 600;
		margin-left: 3px;
	}
}

.weather{
	margin-top: 15.5px;
	margin-left: 50px;
	float: left;
	width: 641.5px;
	height: 200px;
	@extend %parameter_border;
	border-radius: 5%;
	&-title {
		margin-top: 5px;
		@extend %big_title;
		border-bottom: 5px solid $color;
		text-align: center;
		height: 40px;
		display: block;
		}
	}

.weather__temp{
	flex-direction: row; 
	justify-content: flex-start; 
	flex-wrap: wrap;
	&-title {
		margin-top: -3px;
		@extend %small_title;
		padding-top: 8px;
		padding-left: 90px;
		height: 35px;
		float: left;
	}
	&-number{
		float: left;
		margin-top: 5px;
		background-color: transparent;
		margin-left: 5px;
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		  }
		&:focus{
			outline: none;
		}
	}

	input[type=number] {
		font-size: 1.2rem;
		color: $color;
		font-family: 'DinCondMedium', 'sans-serif';
		font-weight: 600;
	}

	&-grad{
		font-size: 1.2rem;
		font-family: 'DinCondMedium', 'sans-serif';
		text-align: left;
		float: left;
		color: $color;
		margin-top: 11px;
		font-weight: 600;
	}

	&-explanation_first { 
		@extend %explanations;
		margin-top: 3px;
	}

	&-explanation_second { 
		@extend %explanations;
	}

	&-explanation_third { 
		@extend %explanations;
	}

	&-explanation_fourth { 
		@extend %explanations;
	}
}

.city{
	display:flex;
	justify-content: center;
	align-items: center;
	padding-top: 53px;
	padding-left: 124px;
	&-select {
		width: 400px;
		text-align-last:center;
		height: 42px;
		background: $color;
		font-size: 2.0rem;
		font-family: 'DinCondMedium', 'sans-serif';
		font-weight: 600;
		color:  rgb(255, 255, 255);
		border: solid 1.5px $color;
		&:focus {
			outline: none;
		}
	}
}

.spending{
	@extend %acc;
	&-title {
		margin-top: 6.5px;
		@extend %big_title;
		border-bottom: 5px solid $color;
		text-align: center;
		height: 40px;
		display: block;
		}
	}

.spending__temp{
	flex-direction: row; 
	justify-content: flex-start; 
	flex-wrap: wrap;
	&-title {
		margin-top: 1px;
		@extend %small_title;
		padding-top: 11px;
		padding-left: 43.5px;
		height: 40px;
		float: left;
		font-size: 1.5rem;
	}
	&-number{
		float: left;
		margin-top: 10.5px;
		background-color: transparent;
		margin-left: 4.5px;
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		  }
		&:focus{
			outline: none;
		}
	}

	input[type=number] {
		font-size: 1.2rem;
		color: $color;
		font-family: 'DinCondMedium', 'sans-serif';
		font-weight: 600;
	}
	&-grad{
		font-size: 1.2rem;
		font-family: 'DinCondMedium', 'sans-serif';
		text-align: left;
		float: left;
		color: $color;
		margin-top: 16.5px;
		font-weight: 600;
		margin-left: -16.5px;
	}
}
/* */ /* */ /* */ /* */ 
#routing {
	display: flex;
	flex-wrap: wrap;
}

#map {
	padding: 0;
	margin: 17.5px 0  0 42px;
	width: 1452px;
	height: 450px;
	display: flex;
	border: solid $color;
	position: absolute;
}
.routing__legendbox {
	width: 213.5px;
	height: 80px;
	margin-top: 193.5px;
	margin-left: 54.5px;
	position: absolute;
	background-color: white;
	border: solid 0.08em rgb(213,213,206);

	span {
		font-family: 'Yandex Sans', 'sans-serif';
		color: rgb(117,117,117);
		font-size: 0.7rem;
	}
	div {
		margin-top: 1px;
		display: inline;
		position: absolute;
		margin-left: 3px;
	}
	img {
		margin-top: 3px;
		margin-left: 25px;
		width: 15px;
		height: 15px;
	}
}
.routing__control {
	position: absolute;
	display: flex;
	margin-left: 69.25px;
	margin-top: 36.25px;
	justify-content: space-between;
	input+input {
		margin-left: 20px;
	}
}
.routing__control-start {
	height: 28px;
	float: left;
	width: 140px;
	border: solid 0.09em rgb(204,204,204);
	outline-color: rgb(255,219,77);
	outline-width: 1.2em;
	font-family: 'Yandex Sans', 'sans-serif';
	font-size: 14.3px;
	background-color: white;
}
.routing__control-end {
	height: 28px;
	width: 140px;
	float: left;
	border: solid 0.09em rgb(204,204,204);
	outline-color: rgb(255,219,77);
	outline-width: 1.2em;
	font-family: 'Yandex Sans', 'sans-serif';
	font-size: 14.3px;
	background-color: white;
}
.routing__control-tire {
	font-family: 'Yandex Sans', 'sans-serif';
	color: rgb(102,102,102);
	font-size: 1.1rem;
	font-weight: 1200;
	position: absolute;
	margin-left: 146.5px;
	margin-top: -3px;
}
#ok {
	@extend %ok;
}
b {
	font-family: 'Yandex Sans', 'sans-serif';
}

@media (max-width: 1024px) {
	.head_container {
		background-color: $color;
		.header {
			height: 60.8px;
			text-align: center;
			top: 0;
			.header-logo {
				img {
					text-align: center;
					float: left;
					margin-top: 9.5px;
					margin-left: 18.8px;
					width: 132.09px;
					height: 38px;
				}
			}
		}
	}
	.tabs {
        position: absolute;
        margin-top: 61px;
        margin-left: 12px;
        display: inline-block;
        white-space: nowrap;
        height: 30px;
        border-bottom: 0.1px solid rgb(224, 224, 224);
		button+button {
			margin-left: 46px;
		}
		.tabs-link {
			background-color: white;
			cursor: pointer;
			font-size: 1.3rem;
			display: inline-block;
			vertical-align: top;
			float: none;
			height: 3px;
			font-family: 'DinCondLight', 'sans-serif';
			padding-bottom: 26px;
			border: none;
			outline: none;
		&::after {
			content: '';
            display: block;
            margin-top: 2px;
            width: 0;
            height: 3px;
            background: rgb(0, 89, 153);
            transition: width .2s;
		}
		&:hover {
			&::after {
				width: 100%;
			}
		}
		}
		#defaultOpen {
			border-bottom: 3.5px solid $color;
		}
	}
	.city{
		display:flex;
		position: absolute;
		justify-content: center;
		align-items: center;
		padding-top: 11px;
		padding-left: 298px;
		&-select {
			width: 200px;
			text-align-last:center;
			height: 35px;
			background: $color;
			font-size: 1.5rem;
			font-family: 'DinCondMedium', 'sans-serif';
			font-weight: 600;
			color:  rgb(255, 255, 255);
			border: solid 1.5px $color;
			&:focus {
				outline: none;
			}
		}
	}
    .textbox {
        margin-top: 35px;
        white-space: nowrap;
        margin-left: 10px;
		&-title {
			font-family: 'DinCondMedium', 'sans-serif';
			color: rgb(28,29,31);
			font-size: 2.2rem;
			display: flex;
		}
	}
	.charger {
        width: 490px;
        height: 450px;
        margin-top: 17.5px;
        margin-left: 10px;
        border: 5px solid $color;
        border-radius: 3%;
        position: absolute;
    }
	#map {
		padding: 0;
		margin: 17.5px 0 0 10px;
		width: 746px;
		height: 560px;
		border: solid $color;
		display: inline-block;
	}
	.routing__control {
		position: absolute;
		display: flex;
		margin-left: 37.25px;
		margin-top: 36.25px;
		justify-content: space-between;
		input+input {
			margin-left: 20px;
		}
	}
	#ok {
	@extend %ok;
	margin-top: -5.5px;
	}
	.routing__legendbox {
		width: 213.5px;
		height: 80px;
		margin-top: 193.5px;
		margin-left: 22.5px;
		position: absolute;
		background-color: white;
		border: solid 0.08em rgb(213,213,206);
		span {
			font-family: 'Yandex Sans', 'sans-serif';
			color: rgb(117,117,117);
			font-size: 0.7rem;
		}
		div {
			margin-top: 1px;
			display: inline;
			position: absolute;
			margin-left: 3px;
		}
		img {
			margin-top: 3px;
			margin-left: 25px;
			width: 15px;
			height: 15px;
		}
	}
	.accumulator{
		margin-top: 481.5px;
		margin-left: 10px;
		float: left;
		width: 490px;
		height: 110px;
		@extend %parameter_border;
		border-radius: 5%;
		&-title {
			margin-top: 6.5px;
			@extend %big_title;
			border-bottom: 5px solid $color;
			text-align: center;
			height: 40px;
			display: block;
			}
		}
	.accumulator__temp{
		flex-direction: row; 
		justify-content: flex-start; 
		flex-wrap: wrap;
		&-title {
			margin-top: 1px;
			@extend %small_title;
			padding-top: 13px;
			padding-left: 10px;
			height: 40px;
			float: left;
			font-size: 1.3rem;
		}
		&-number{
			float: left;
			margin-top: 20px;
			margin-left: 3px;
		}
	
		input[type=number] {
			background-color: rgb(241,241,241);
			border: 1px solid rgb(0, 0, 0);
			font-size: 0.9rem;
			font-family: 'DinCondMedium', 'sans-serif';
			font-weight: 600;
			height: 20px;
		}
	
		&-grad{
			font-size: 1.0rem;
			font-family: 'DinCondMedium', 'sans-serif';
			text-align: left;
			float: left;
			margin-top: 19px;
			font-weight: 600;
		}
	}
	.weather{
		margin-top: 14px;
		margin-left: 10px;
		float: left;
		width: 490px;
		height: 200px;
		@extend %parameter_border;
		border-radius: 5%;
	
		&-title {
			margin-top: 5px;
			@extend %big_title;
			border-bottom: 5px solid $color;
			text-align: center;
			height: 40px;
			display: block;
			}
		}
	.weather__temp{
		flex-direction: row; 
		justify-content: flex-start; 
		flex-wrap: wrap;
		&-title {
			margin-top: 1px;
			@extend %small_title;
			padding-top: 8px;
			padding-left: 40px;
			height: 40px;
			float: left;
			font-size: 1.4rem;
		}
		&-number{
			float: left;
			margin-top: 7px;
			background-color: transparent;
			margin-left: 5px;
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			  }
			&:focus{
				outline: none;
			}
		}
	
		input[type=number] {
			font-size: 1.1rem;
			color: $color;
			font-family: 'DinCondMedium', 'sans-serif';
			font-weight: 600;
			}
		&-grad{
			font-size: 1.2rem;
			font-family: 'DinCondMedium', 'sans-serif';
			text-align: left;
			float: left;
			color: $color;
			margin-top: 12px;
			font-weight: 600;
		}
		&-explanation_first { 
			@extend %explanations;
			font-size: 0.85rem;
			padding-top: 0;
	
		}
		&-explanation_second { 
			@extend %explanations;
			font-size: 0.85rem;
		}
	
		&-explanation_third { 
			@extend %explanations;
			font-size: 0.85rem;
		}
		&-explanation_fourth { 
			@extend %explanations;
			font-size: 0.85rem;
		}

}
	.spending{
		margin-top: 14px;
		margin-left: 10px;
		float: left;
		width: 490px;
		height: 203px;
		@extend %parameter_border;
		border-radius: 5%;
		&-title {
			margin-top: 5px;
			@extend %big_title;
			border-bottom: 5px solid $color;
			text-align: center;
			height: 40px;
			display: block;
			}
		}
	.spending__temp{
		flex-direction: row; 
		justify-content: flex-start; 
		flex-wrap: wrap;
		&-title {
			margin-top: 1px;
			@extend %small_title;
			padding-top: 65.5px;
			padding-left: 14px;
			height: 40px;
			float: left;
			font-size: 1.2rem;
		}
		&-number{
			float: left;
			margin-top: 61.5px;
			background-color: transparent;
	
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			  }
			
			&:focus{
				outline: none;
			}
		}
		input[type=number] {
			font-size: 1.1rem;
			color: $color;
			font-family: 'DinCondMedium', 'sans-serif';
			font-weight: 600;
		}
		&-grad{
			font-size: 1.1rem;
			font-family: 'DinCondMedium', 'sans-serif';
			text-align: left;
			float: left;
			color: $color;
			margin-top: 68.5px;
			font-weight: 600;
			padding-left: -4px;
		}
	}
}